<h2>Add new celebrities</h2>
<form action="/celebrities" method="POST">
  <label for="name">name:</label>
  <input type="text" id="fname" name="name" value="{{celebs.name}}"><br><br>
  <label for="ocupation">ocupation:</label>
  <input type="text" id="ocupation" name="ocupation" value="{{celebs.ocupation}}"><br><br>
  <label for="catchPhrase">catch phrase:</label>
  <input type="text" id="catchPhrase" name="catchPhrase" value="{{celebs.catchPhrase}}"><br><br>
  <input type="submit" value="ADD">
</form>
